.page-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.course-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCDCDC;
  width: 100%;
  height: 265px;
}

.course-search > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  background-color: white;
  padding: 18px;
  width: 640px;
}

.course-search h2 {
  font-size: 2rem;
}

.course-search .search-bar {
  display: flex;
  height: 55px;
  width: 100%;
}

.course-search .search-bar input {
  flex-grow: 1;
  font-size: 1.3rem;
  padding-left: 15px;
  border: 1px solid #383838;
}

.course-search .search-bar button {
  display: flex;
  align-items: center;
  padding: 3px 24px 3px 24px;
  border: none;
  background-color: #154273;
}

button:hover {
  cursor: pointer;
}

.course-search .search-bar button span {
  font-size: 2rem;
  color: #ffffff;
}

.user-panel {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.tool-menu {
  display: flex;
  height: 65px;
  gap: 32px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.tool-menu button {
  display: flex;
  align-items: center;
  color: #1d5ea3;
  border: none;
  background: none;
  gap: 5px;
  font-family: inherit;
  padding: 5px;
}

.tool-menu button:first-of-type {
  background-color:#154273;
  color: #ffffff;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}

.tool-menu button:hover {
  outline: 1px solid rgb(219, 219, 219);
}

.tool-menu button:first-of-type:hover {
  background-color: #154273;
}

.tool-menu button.selected {
  background-color:#f5f5f5;
  outline: 1px solid rgb(219, 219, 219);
}

.tool-menu .tool-icon {
  font-size: 1.5rem;
}

.tool-menu .tool-name {
  font-size: 1.3rem;
  font-weight: 500;
}

.user-panel-body {
  display: flex;
  padding-top: 20px;
  gap: 85px;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  gap: 45px;
  width: 265px;
  min-width: 265px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter h2 {
  font-size: 1.9rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 5px;
}

.filter .filter-option-list {
  display: flex;
  flex-direction: column;
}

.filter .filter-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 0 6px 0;
}

.filter .filter-option input {
  appearance: none;
  outline: 2px solid rgba(0,0,0,0.7);
  border: 2px solid #ffffff;
  border-radius: 0;
  width: 17px;
  height: 20px;
}

.filter .filter-option span {
  font-size: 1.15rem;
}

.filter .filter-option.checked input {
  background-color: #154273;
  outline-color: #154273;
}

.filter .filter-option.checked span {
  color: #154273;
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  flex-grow: 1;
}

.result-list .loading-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.result-list .result-list-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 8px;
  gap: 10px;
}

.result-list .result-list-entries {
  padding: 15px 0 15px 0;
}

.result-list .result-list-entries .result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  max-height: 100vh; /* For the collapse animation */
}

.result-list .result-list-entries .result.archived {
  color: rgba(0, 0, 0, 0.4);
}

.result-list .result-list-entries .result.archived .result-name {
  color: rgba(0, 0, 0, 0.5) !important;
}

.result-list .result-list-entries .result .result-head {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.result-list .result-list-entries .result .result-head .result-tag {
  padding: 2px 6px 2px 6px;
  background-color: #DFDFDF;
}

.result-list .result-list-entries .result .result-head .result-name {
  color: #154273;
  font-size: 1.3rem;
  text-decoration: none;
}

.result-list .result-list-entries .result .result-head button {
  display: flex;
  align-items: center;
  align-self: center;
  border: none;
  background: none;
  color: #9e9e9e;
}

.result-list .result-list-entries .result .result-head button:hover {
  color: #5a5a5a;
}

.result-list .result-list-entries .result .result-head .red-hover-button:hover {
  color: #a82121;
}

.result-list .result-list-entries .result .result-head .archive-button .archive-icon {
  font-size: 1.2rem;
  transform: translateY(2px);
}

.result-list .result-list-entries .result .result-head .unarchive-button .unarchive-icon {
  font-size: 1.2rem;
  transform: translateY(2px);
}

.result-list .result-list-entries .result .result-body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}