.main-header .change-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: white;
  width: 420px;
}

.main-header .change-password-form > h2 {
  color: black;
  font-size: 2rem;
}

.main-header .change-password-form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0 10px 0;
  border-top: 1px solid rgba(0,0,0,0.3);
}

.main-header .change-password-form > div:first-of-type, .change-password-form > div:last-of-type {
  border-top: none;
}

.main-header .change-password-form .form-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-header .change-password-form .form-footer .form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-header .change-password-form .form-footer .form-actions button {
  appearance: none;
  border: none;
  padding: 5px 8px 5px 8px;
  font-size: 1rem;
  width: 100px;
  height: 40px;
}

.main-header .change-password-form .form-footer .save-button {
  background-color: #154273;
  color: white;
}

.main-header .change-password-form .form-footer .submit-loading {
  color: #ffffff;
  max-height: 25px;
  max-width: 25px;
}

.main-header .change-password-form .form-footer .error-message {
  color: rgb(182, 42, 42);
  font-size: 1rem;
  order: 0;
}

.main-header .change-password-form .form-footer .success-message {
  color: rgb(42, 182, 42);
  font-size: 1rem;
  order: 0;
}